profiles {
    sge {
        includeConfig 'conf/sge.config'
    }
}

process.shell = ['/bin/bash']

manifest {
  homePage = 'https://www.libd.org/'
  description = 'The Lieber Institute for Brain Development conducts research in order to advance the understanding of brain disorders and help those affected by them'
  mainScript = 'main.nf'
}
