/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 * 
 *
 * In order to customize the cluster environment for sge-large,
 * simply change the cpu and memory available to the executor
 * as well as each task below
 */


process {

  executor = 'sge'
  module = 'conda_R/3.4.x'
    
  disk = '20.GB'
  cpus = { 1 }
  memory = { 20.GB }
  time = { 2.hour }
  errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
  
  maxRetries = '3'
  maxErrors = '-1'

}
